//META{"name":"Modal-anim-6","description":"-","author":"Beard_Design","version":"1.0.0"}*//{}

.modal {
    opacity: 1!important;
    transform: scale(1) translateZ(0px)!important;
    animation:modalanim 300ms cubic-bezier(.3,.3,.18,1.88);
    transition:all 100ms;
    transition-delay:5s;
}

@keyframes modalanim{
    from{
        transform:scale(1.2);
        opacity:0;
    }
    
    to{
        transform:scale(1);
        opacity:1;
    }
}
span:active .modal{
    transition-delay:0s;
    transform:scale(1.2)!important;
    opacity:0!important;
}
span:active .modal:hover{
    transform:scale(1)!important;
    opacity:1!important;
}
.callout-backdrop:active {
    opacity:0!important;
    transition:all 100ms!important;
}
.callout-backdrop{
    transition-delay:5s;
}
