//META{"name":"Modal-anim-4","description":"-","author":"Beard_Design","version":"1.0.0"}*//{}
.modal {
    opacity: 1!important;
    transform: scale(1) translateZ(0px)!important;
    animation:modalanim 300ms cubic-bezier(0,0,0,1);
    transition:all 100ms;
    transition-delay:5s;
}

@keyframes modalanim{
    from{
        transform:translate(100%,0);
        opacity:0;
    }
    
    to{
        transform:translate(0%,0);
        opacity:1;
    }
}
span:active .modal{
    transition-delay:0s;
    transform:translate(-100%,0)!important;
}
span:active .modal:hover{
    transform:translate(0%,0)!important;
}
.callout-backdrop:active {
    opacity:0!important;
    transition:all 100ms!important;
}
.callout-backdrop{
    transition-delay:5s;
}
